
body{ width: 100%;
     margin: 0 auto;
     
}
#content{
 background-color: rgb(56, 45, 94);
 clear: both;
    }
.nav{
    background:rgb(25, 6, 78);
    height: 80px;
}
    
.nav ul{
    /* float: right; */
    margin-right: 40px;
    padding: 10px;
}
.nav ul li{
    list-style-type: none;
    display: inline-block;
    margin: 5px 10px;
    color: #FFF;
}
.links img{
    height: 50px;
    widows: 50px;
    margin: 10px;
    float: right;
}
.nav ul li a{
    text-decoration: none;
       
}
a:hover{
    text-decoration: underline;
    color:rgb(105, 13, 13);
}

